<!DOCTYPE html>
<html>
<head>
    <title>Yeni Soru Ekle</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Yeni Soru Ekle</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ekle</button>
    </form>
</div>
</body>
</html>
